* {
    margin: 0;
    padding: 0;
}

div {
    display: block;
    font-family: arial,sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.75);
}

a:hover {
    text-decoration: underline;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 17px;
    line-height: 30px;
}

.navbar div {
    display: inline-block;
}

.trn {
    float: right;
    padding-right: 30px;
}

.b_trn {
    padding: 0 15px;
}

.c_trn {
    background-image: url("../images/ic_apps_black_24px.svg");
    opacity: 0.55;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.c_trn a {
    display: block;
    width: 24px;
    height: 24px;

}

.d_trn {
    background: #4285f4;
    font-weight: bold;
    padding: 0 12px;
    margin-left: 15px;
}

.d_trn a {
    color: #fff;
}

.d_trn a:hover {
    text-decoration: none;
}

.tln {
    float: left;
    padding-left: 30px;
}

.b_tln {
    padding-left: 15px;
}

.logo {
    width: 100%;
    padding-top: 198px;
    padding-bottom: 32px;
    text-align: center;
}

.searchbar {
    background-color: white;
    width: 484px;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-left: auto;
    margin-right: auto;
}

.searchbar .si {
    width: 23px;
    height: 23px;
    float: right;
    margin: 10.5px 11px;
}

.buttons {
    padding-top: 29px;
    text-align: center;
}

.bl, .br {
    background-color: #f2f2f2;
    display: inline-block;
    height: 34px;
    padding: 0px 16px;
    margin: 0px 4px;
    font-weight: bold;
    color: #757575;
    line-height: 34px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background: #f2f2f2;
}

.footer div {
    display: inline-block;
}

.footer a {
    display: inline-block;
    color: #666;
}

.brf {
    float: right;
    padding-right: 30px;
}

.b_brf {
    padding: 0 30px;
}

.blf {
    float: left;
    padding-left: 30px;
}

.b_blf {
    padding-left: 30px;
}